*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    background-color: black;
}
section {
    position: relative;
}
.logo {
    position: absolute;
    width: 200px;
}

@media (max-width: 786px) {
    .logo{
        width: 150px;
    }
}